*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden !important;
}

body,
html{
  max-width: 1800px !important;
  min-width: 320px !important;
  margin: 0 auto;
}

.bg{
  padding: 20px;
  width: 100vw;
  max-width: 100%;
  min-height: 100vh;
  max-height: 1000px;
  background-image: url('../bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: white;
}

.leftSide{
  width: calc(100% / 2);
  max-height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

.fieldBox{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.field{
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
}

.field h3{
  font-weight: 900;
  font-size: 23px;
}
.field p{
  font-size: 19px;
}

.field box{
  width: 150px;
  height: 15px;
  padding: 15px 20px;
  border-radius: 50px;
  border: 1px solid gray;
}

.fieldBox{
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftSide img{
  width: 400px;
  height: 250px;
}

.info{
  text-align: center;
}

.logoutBtn{
  background-color: #BD393D;
  padding: 10px 30px;
  color: white;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
}

.rightSide{
  width: calc(100% / 2);
  max-height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 50px;
  background-color: rgba(0, 122, 200, 0.4);
  border-radius: 50px;
}

.rightSideHead{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 30px 0;
}

.rightSideHead h4{
  font-size: 22px;
}

.rightSideHead h3{
  background-color: white;
  color: black;
  padding: 10px 20px;
  border-radius: 10px;
}

.fielSingle{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.fielSingle h3{
  padding-right: 10px;
}

.fielSingle input{
  width: 90%;
  padding: 5px 0;
  border-radius: 50px;
  border: 3px solid #5691CE;
}

.inputsBox{
  width: 100%;
}

.buttonBox{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.buttonBox button{
  padding: 10px 20px;
  border: 0;
  border-radius: 10px;
  color: white;
}

.btn1{
  background-color: #5B5B5B;
}
.btn2{
  background-color: #B8B9B8;
}

@media screen and (max-width: 1200px){
  .rightSide,
  .leftSide{
    width: 100%;
  }

  .rightSide{
    border-radius: 5px;
    margin-top: 50px;
  }
}

@media screen and (max-width: 590px){
  .leftSide img{
    width: 100%;
    height: auto;
  }
  .info{
    font-size: 15px;
  }
}